.selected-nav {
    border: 2px solid var(--primary-color) !important;
    background-color: var(--primary-color) !important;
    transition: 0.5s ease-in-out !important;
}

.other-nav {
    border: 2px solid transparent !important;
    transition: 0.5s ease-in-out !important;
}

.other-nav:hover {
    background-color: #ffe26e66 !important;
}