.wishcard {
    width: 90%;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 10px 30px;
}

/* .wishcard > div {
    width: 110px;
    height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .wish__item__image {
    width: 80px;
    height: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.wish__image {
    width: 90px;
    height: auto;
}

.wish__item__name {
    /* width: 120px; */
    /* height: 50px; */
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.wish__item__name p {
    font-size: 16px;
}

.wish__item__price {
    display: flex;
    gap: 0.8rem;
}

.add__to__cart {
    width: auto;
    height: 100%;
}

.wish__remove__item__icon {
    /* width: 50px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishcard_item_details {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media (max-width:450px) {
    .wishcard {
        padding: 10px 20px;
        /* justify-content: end; */
    }

    .wish__image {
        width: 70px;
    }

    .wishcard_item_details {
        align-items: start;
    }

    .wish__item__name p {
        font-size: 14px;
    }

    .wish__item__name h6 {
        font-size: 15px;
    }

    .wish__item__price {
        font-size: 15px;
        gap: 0.5rem
    }

    .wishcard_item_footer {
        width: 100%;
    }
}