.footer__container {
    height: auto;
    width: 100%;
    background-color: #FFE26E;
    display: flex;
    flex-direction: column;
}

.fotter__help__links {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer__contacts {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.footer__contact {
    width: 100%;
    height: 30%;
}

.footer__social__links {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.social__link {
    width: 12%;
}

.fotter__copyright__container {
    width: 100%;
    background-color: black;
    display: flex;
    color: #FFE26E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}